.card {
  padding: 24px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-width: 316px;
  min-height: 184px;
  box-sizing: border-box;

  &__img {
    padding-bottom: 18px;
    font-size: 48px;
  }
  &__title {
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #000000;
  }
  &__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #3f444a;
    max-width: 260px;
    word-break: break-word;
  }
}
